body {
  margin: 33px;
}
.box {
  border: 2px solid;
  font-size: 2em;
  width: 200px;
  height: 150px;
}
#box1 {
  background-color: lightblue;
  margin-left: 50px;
  margin: 50px;
}
#box2 {
  background-color: lightcoral;
  margin-left: 150px;
}
