.list-category{
  font-size:  2.5em;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-bottom: 10px;
  border: 1px solid lightblue;
  border-radius: 10px;
  background-color: rgb(198, 142, 142);
}

.list-items li{
  font-size: 2em;
  list-style: none;
  color: black;
  text-align: center;
  margin: 0;

}

.list-items li:hover{
  color: rgba(0, 0, 0, 0.714);
  cursor: pointer;
}