h1 {
  font-family: Montserrat, Georgia, "Times New Roman", Times, serif, Arial;
}
p {
  font-family: Montserrat, "lucida console", "times New Roman";
  font-size: 1em;
  font-weight: bold;
  font-style: italic;
}
