body {
  background-color: rgba(15, 13, 13, 0.833);
}
#box {
  width: 250px;
  height: 250px;
  background-color: rgb(193, 137, 137);
  font-size: 6em;
  text-align: center;
  animation-name: slideLeft;
  /* animation-name: slideRight; */
  /* animation-name: slideUp; */
  /* animation-name: slideDown; */
  /* animation-name: rotateZ; */
  /* animation-name: grow; */
  /* animation-name: fadeIn; */
  /* animation-name: colorChange; */
  /* animation-name: glow; */
  animation-duration: 2s;
  opacity: 0.8;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  /* animation-play-state: paused; */
  animation-timing-function: ease-in-out;
}

#box:hover {
  animation-name: glow;
  animation-duration: 2 s;
}
@keyframes slideLeft {
  from {
    transform: translateX(200px);
  }
}
@keyframes slideRight {
  to {
    transform: translateX(200px);
  }
}
@keyframes slideUp {
  from {
    transform: translateY(200px);
  }
}
@keyframes slideDown {
  to {
    transform: translateY(200px);
  }
}
@keyframes rotateZ {
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes grow {
  50% {
    transform: scale(1, 1);
  }
}
@keyframes shrink {
  50% {
    transform: scale(0.5, 0.5);
  }
}
@keyframes fadeIn {
  50% {
    opacity: 2;
  }
}
@keyframes colorChange {
  0% {
    background-color: rgb(186, 24, 211);
  }
  50% {
    background-color: rgb(51, 45, 243);
  }
  60% {
    background-color: lightgreen;
  }
  100% {
    background-color: red;
  }
}
@keyframes glow {
  50% {
    box-shadow: 0px 0px 50px rgb(156, 20, 198);
  }
}
