<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Successful</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class=" flex flex-col justify-center items-center w-full h-screen bg-zinc-800 text-white p-10">
    <h1>Login Successful</h1>
    <form action="/logout" method="get">
        <button class=" px-4 py-2 rounded-md bg-zinc-500 mt-4 font-bold" type="submit">Logout</button>
    </form>
    </div>
</body>
</html>
