
*{
  background-color: rgb(32, 32, 32);
}

.welcome-message{
 font-size: 2.5em; 
 background-color: lightcoral;
 color: white;
 padding: 10px;
 border-radius: 10px;
 margin-top: 100px;
}

.login-promt{
  font-size: 2.5em; 
  background-color: rgb(89, 176, 196);
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-top: 100px;
 }
