* {
  margin: 0px;

  padding: 0;

  box-sizing: border-box;
}

body {
  background-color: #d6dede8b;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 300px;
  height: 620px;
  background-color: #4a88c6b1;
  border-radius: 15px;
  border: 1px solid rgb(200, 182, 182);
  margin: 40px;
  margin-top:5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}
.card:hover {
  transform: scale(1.1);
}

.card img {
  height: 200px;
  border-radius: 15px;
  margin: 10px auto 15px;
  display: block;
}

.button, .button2 {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.button button {
  background-color: rgba(244, 243, 243, 0.867);
  border-radius: 10px;
  border: 0.5px solid #4a4a4a;
  padding: 5px 13px;
  cursor: pointer;
  margin-right: 7px;
  text-decoration: none;
  font-style:italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #276eb9;
  font-weight: 600;
  transition: all 0.2s ease;

}
.button2 a {
  background-color: white;
  border-radius: 10px;
  border: 1px solid #4a4a4a;
  padding: 4px 8px;
  cursor: pointer;
  margin: 15px;
  text-decoration: none;
  color: #276eb9;
  font-weight: 600;
  transition: all 0.2s ease;
}

.button button:hover,
.button2 a:hover {
  color: lightcoral;
  transform: scale(1.1);
}

.heading {
  text-align: center;
  font-style: italic;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.heading h2,
.heading p {
  color: #292727;
}
.heading p:hover{
  color: rgba(244, 244, 244, 0.899);
}


.heading h2:hover {
  color: lightcoral;
  transition: all 0.2s ease;
}

.heading p {
  color: #565656;
  line-height: 19px;
  margin-top: 10px;
}
