h1{
    border: outset 5px orange;
    border-radius: 10pc;
}
p{
    border-bottom: 3px solid green;
    border-top: 3px solid dodgerblue;
    border-left: 3px outset purple;
    border-right: 3px solid purple;
}