body{
    margin: 0;
    background-color: rgb(31, 30, 30);
}


#myBox{
    background-color: lightblue;
    width: 200px;
    height: 200px;
    font-size: 5.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}