body {
    background-image: url(14-Sonoma-Dark.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;

}

#clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#clock {
    font-family: 'Franklin Gothic Medium';
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    color: white;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.167);
    width: 100%;
}