body {
  background-color: darkgoldenrod;
}
.container {
  position: relative;
  height: 80vh;
  width: 100%;
  background-color: rgb(25, 25, 25);
}

@keyframes bounce {
  0% {
    /* transform: translateY(-30px); */
  }

  50% {
    /* transform: translate(200px, 100px); */
  }

  100% {
    /* transform: rotate(45deg) translate(300px , -250px); */
  }
}

@keyframes animateX {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

@keyframes animateY {
    from{
        bottom: 0;
    }
    to{
        bottom: 100%;
    }
}

.box {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 70px;
  box-shadow: 0 10px 10px 10px 10px;
  background-color: pink;
  border: 2px solid lightblue;
  bottom: 0;
  left: 0;
  /* animation: bounce 2s infinite; */
  animation: animateX 3s linear infinite, animateY 1s ease-out infinite alternate;
}
