body{
  /* background-color: rgb(29, 29, 29); */
  background-image: url(https://i.redd.it/hdgf0pj52x151.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  /* backdrop-filter: blur(2px); */
}

.clock-container{
  backdrop-filter: blur(10px);
  width: 70vw;
  padding: 10px 0;
  border-radius: 10px;

}

.clock{
  color: white;
  font-size: 5rem;
  font-weight: bold;
  font-family: Verdana, Tahoma;
  text-shadow: 3px 3px 5px rgba(208, 78, 78, 0.563);
  text-align: center;
  /* margin-top: 250px; */
}
